//Цвета
$primary-color: #81b3d2;
$secondary-color: #eeeeee;
$page-color: #e7e5e5;
$bg-color: #ffffff;

//Цвета текста
$primary-text: #ffffff; //Цвет текста для primary-фона
$secondary-text: #333333; //Основной цвет текста
$accent-text: #000000; //Цвет для заголовков и пр.
$current-text: #766357;

//Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;
