// Файл с часто используемыми элементами
@use "global/bootstrap.scss";

// Блоки
@use "./components/advantage.scss";
@use "./components/advantages.scss";
@use "./components/advantages-list.scss";
@use "./components/button.scss";
@use "./components/control.scss";
@use "./components/copyright.scss";
@use "./components/feedback-form.scss";
@use "./components/field-group.scss";
@use "./components/form.scss";
@use "./components/form-list.scss";
@use "./components/gallery.scss";
@use "./components/intro.scss";
@use "./components/likes.scss";
@use "./components/main-container.scss";
@use "./components/main-footer.scss";
@use "./components/main-header.scss";
@use "./components/main-nav.scss";
@use "./components/map.scss";
@use "./components/page.scss";
@use "./components/photo-card.scss";
@use "./components/search.scss";
@use "./components/site-list.scss";
@use "./components/social.scss";
@use "./components/text-block.scss";
@use "./components/video.scss";
@use "./components/video-gallery.scss";
@use "./components/visually-hidden.scss";
