.advantage {
  background-color: #eeeeee;
  text-transform: uppercase;
}

.advantage--primary {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage--has-icon {
  background-color: #ffffff;
}

.advantage__title {
  color: #000000;
}

.advantage__title--primary {
  color: #ffffff;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.control__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.copyright__text {
  color: #000000;
  text-transform: uppercase;
}

.field-group__legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.form__legend {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.6;
}

.form__input {
  background-color: #f2f2f2;
}

.intro__slogan-wrapper {
  background-color: #81b3d2;
  background-image: url("../../img/intro-background.jpg");
}

.likes__count {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.main-footer__slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.page__body {
  margin: 0;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
}

.photo-card__title {
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-list__item {
  width: 100%;
  text-align: center;
}

.site-list__item:not(.site-list__item--logo) {
  padding-top: 18px;
  padding-bottom: 17px;
  background-color: #81b3d2;
  color: #ffffff;
}

.site-list__item--logo {
  position: relative;
  order: -1;
}

.site-list__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 185px;
  height: 96px;
}

.site-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    width: 153px;
  }

  .site-list__item:not(.site-list__item--logo) {
    background-color: #ffffff;
    color: #000000;
  }

  .site-list__item--logo {
    order: 0;
  }

  .site-list__link {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
  }
}

@media (min-width: 1200px) {
  .site-list__item {
    width: 240px;
  }
}

.text-block {
  text-align: center;
  text-transform: uppercase;
}

.text-block__title {
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
