@use "../global/bootstrap.scss";

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 25px 18px;
  background-color: bootstrap.$secondary-color;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 52px 33px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding: 65px 55px 38px;
  }

  &--primary {
    padding: 40px 27px;
    background-color: bootstrap.$primary-color;
    color: bootstrap.$primary-text;

    // br {
    //   display: none;
    // }

    @media (min-width: bootstrap.$tablet-width) {
      justify-content: space-between;
      padding: 53px 33px 31px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      justify-content: space-between;
      padding: 53px 55px 51px;

      // br {
      //   display: inline;
      // }
    }
  }

  &--has-icon {
    position: relative;
    padding: 8px 18px 0 65px;
    background: none;

    .advantage__icon {
      position: absolute;
      top: 0;
      left: 18px;
    }

    @media (max-width: bootstrap.$mobile-width-only) {
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 25px;
      }

      &:first-child {
        margin-top: 23px;
      }

      &:last-child {
        margin-bottom: 46px;
      }

      br {
        display: none;
      }
    }

    @media (min-width: bootstrap.$tablet-width) {
      padding: 156px 32px 61px;

      .advantage__icon {
        width: 80px;
        height: 75px;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @media (min-width: bootstrap.$desktop-width) {
      padding: 168px 55px 71px;
    }
  }

  &--has-border {
    @media (max-width: bootstrap.$mobile-width-only) {
      position: relative;

      &::after {
        position: absolute;
        bottom: 0;
        left: 18px;
        content: "";
        width: calc(100% - 36px);
        height: 1px;
        background-color: #d6d6d6;
      }
    }
  }

  &--road {
    @media (min-width: bootstrap.$tablet-width) {
      justify-content: space-between;
      padding: 41px 33px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      padding: 50px 33px;
    }
  }

  &--first {
    @media (max-width: bootstrap.$mobile-width-only) {
      padding-top: 73px;
    }

    // @media (min-width: bootstrap.$tablet-width) {
    //   br {
    //     display: none;
    //   }
    // }

    // @media (min-width: bootstrap.$desktop-width) {
    //   br {
    //     display: inline;
    //   }
    // }
  }
}

.advantage__title {
  margin: 0 0 11px 0;
  color: bootstrap.$accent-text;
  font-size: 18px;
  line-height: 26px;

  &--primary {
    color: bootstrap.$primary-text;
  }

  &--has-icon {
    margin-bottom: 16px;

    @media (min-width: bootstrap.$tablet-width) {
      margin-bottom: 26px;
    }
  }

  @media (max-width: bootstrap.$mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 21px;
    line-height: 26px;
  }

  &--road {
    @media (min-width: bootstrap.$tablet-width) {
      margin-bottom: 13px;
    }
  }
}

.advantage__number {
  margin-bottom: 17px;

  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 25px;
  }

  &--primary {
    margin-bottom: 13px;
  }
}

.advantage__description {
  br {
    display: inline;

    @media (min-width: bootstrap.$tablet-width) {
      display: none;
    }
  }

  &--has-icon {
    br {
      display: none;

      @media (min-width: bootstrap.$tablet-width) {
        display: inline;
      }
    }
  }

  &--primary {
    br {
      display: none;

      @media (min-width: bootstrap.$desktop-width) {
        display: inline;
      }
    }
  }

  &--first {
    br {
      display: inline;

      @media (min-width: bootstrap.$tablet-width) {
        display: none;
      }

      @media (min-width: bootstrap.$desktop-width) {
        display: inline;
      }
    }
  }

  &--road {
    padding: 0 14px;

    @media (min-width: bootstrap.$tablet-width) {
      padding: 0;
    }

    br {
      display: none;

      @media (min-width: bootstrap.$tablet-width) {
        display: inline;
      }

      @media (min-width: bootstrap.$desktop-width) {
        display: none;
      }
    }

    span {
      display: none;

      @media (min-width: bootstrap.$desktop-width) {
        display: block;
      }
    }
  }
}
