.advantage {
  background-color: #eeeeee;
  text-transform: uppercase;
}

.advantage--primary {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantage--has-icon {
  background-color: #ffffff;
}

.advantage__title {
  color: #000000;
}

.advantage__title--primary {
  color: #ffffff;
}

