@use "../global/bootstrap.scss";

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border: none;
  background-color: bootstrap.$primary-color;
  color: bootstrap.$primary-text;
  cursor: pointer;

  &:hover {
    background-color: bootstrap.$primary-hover;
  }

  &:active {
    background-color: bootstrap.$primary-active;
    color: rgba(255, 255, 255, 0.3);
  }
}
