@use "../global/bootstrap.scss";

.control {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 46px;
  padding-left: 62px;
  cursor: pointer;

  &:hover .control__mark {
    background-color: #e5e5e5;
  }

  &:active .control__mark {
    background-color: #d5d5d5;

    &::before {
      opacity: 0.3;
    }
  }
}

.control__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: bootstrap.$accent-text;
}

.control__mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;

  &--impression {
    border-radius: 50%;
  }
}

.control__input[type="radio"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 15px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.control__input[type="checkbox"]:checked + .control__mark::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
  background-image: url("../../img/tick.svg");
  background-repeat: no-repeat;
}

.control__input:disabled + .control__mark,
.control__input:disabled ~ .control__label {
  opacity: 0.3;
}
