@use "../global/bootstrap.scss";

.copyright {
  display: flex;
  align-items: center;
  text-decoration: none;

  &--index {
    @media (min-width: bootstrap.$tablet-width) {
      margin-right: 15px;
    }
  }

  &:hover {
    .copyright__text {
      color: bootstrap.$primary-color;
    }

    .copyright__icon {
      fill: bootstrap.$primary-color;
    }
  }

  &:active {
    .copyright__text {
      color: #b3b3b3;
    }

    .copyright__icon {
      fill: #b3b3b3;
    }
  }
}

.copyright__text {
  margin-right: 12px;
  color: bootstrap.$accent-text;
  text-transform: uppercase;
}
