@use "../global/bootstrap.scss";

.field-group {
  margin: 0;
  padding: 24px 0;
  border: none;
  border-top: 1px solid #e5e5e5;

  &--wide {
    @media (min-width: bootstrap.$tablet-width) {
      grid-column: 1 / 3;
    }
  }
}

.field-group__legend {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: bootstrap.$accent-text;
}
