@use "../global/bootstrap.scss";

.field-group {
  position: relative;
  margin: 0;
  padding: 24px 0 25px;
  border: none;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
  }

  &--wide {
    @media (min-width: bootstrap.$tablet-width) {
      grid-column: 1 / 3;
      border-top: 1px solid #dbdbdb;
    }
  }

  &--impression {
    @media (min-width: bootstrap.$tablet-width) {
      margin-top: 48px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      margin-top: 56px;
    }
  }

  &--general {
    position: relative;
    padding-bottom: 39px;

    @media (min-width: bootstrap.$tablet-width) {
      padding: 0 0 15px 0;

      &::after {
        position: absolute;
        content: "";
        top: -55px;
        right: -43px;
        height: calc(100% + 54px);
        width: 1px;
        background-color: #dbdbdb;
      }
    }

    @media (min-width: bootstrap.$desktop-width) {
      &::after {
        right: -63px;
      }
    }
  }

  &--contacts {
    @media (max-width: bootstrap.$mobile-width-only) {
      padding-bottom: 20px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      margin-left: 29px;
    }
  }

  @media (max-width: bootstrap.$mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      bottom: -2px;
      left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #e5e5e5;
    }

    &:last-of-type::after {
      display: none;
    }

    &:first-of-type::before {
      position: absolute;
      content: "";
      top: -47px;
      left: -20px;
      width: 100vw;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

.field-group__legend {
  display: block;
  padding: 25px 0 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: bootstrap.$accent-text;
  margin-bottom: -5px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0;
    margin-bottom: 28px;
    font-size: 21px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 26px;
  }

  &--wide {
    @media (min-width: bootstrap.$tablet-width) {
      padding: 0 63px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      margin-bottom: 45px;
    }
  }

  &--general {
    @media (min-width: bootstrap.$tablet-width) {
      margin-left: 20px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      margin-left: 32px;
    }
  }

  &--contacts {
    @media (min-width: bootstrap.$tablet-width) {
      margin-left: -20px;
    }

    @media (min-width: bootstrap.$desktop-width) {
      margin-left: -32px;
    }
  }

  &--attractions {
    @media (min-width: bootstrap.$desktop-width) {
      margin-bottom: 61px;
    }
  }

  &--emotions {
    @media (min-width: bootstrap.$desktop-width) {
      margin-bottom: 28px;
    }
  }
}
