@use "../global/bootstrap.scss";

.form {
  display: grid;
  background-color: bootstrap.$bg-color;

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.form__legend {
  margin: 0;
  text-align: right;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  opacity: 0.6;
}