@use "../global/bootstrap.scss";

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bootstrap.$bg-color;

  @media (min-width: bootstrap.$tablet-width) {
    flex-direction: row;
  }
}

.main-footer__slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: bootstrap.$accent-text;
}

