@use "../global/bootstrap.scss";

.main-footer {
  display: flex;
  flex-direction: column;
  padding: 38px 18px 22px 18px;
  align-items: center;
  background-color: bootstrap.$bg-color;

  @media (min-width: bootstrap.$tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 60px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding: 38px 120px;
  }

  &--catalog {
    @media (max-width: bootstrap.$mobile-width-only) {
      padding-top: 28px;
    }
  }

  &--form {
    @media (max-width: bootstrap.$mobile-width-only) {
      padding-top: 55px;
    }
  }
}

.main-footer__slogan {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: bootstrap.$accent-text;

  @media (max-width: bootstrap.$mobile-width-only) {
    margin-bottom: 33px;
  }
}
