@use "../global/bootstrap.scss";

.main-nav {
  position: relative;
}

.main-nav__list {
  min-height: 56px;
}

.main-nav__toggle {
  position: absolute;

  @media (min-width: bootstrap.$tablet-width) {
    display: none;
  }
}