@use "../global/bootstrap.scss";

.map {
  background-image: url('../../img/map/map-mobile.png');
  background-size: cover;
  background-position: 50%;

  @media (min-width: bootstrap.$tablet-width) {
    background-image: url('../../img/map/map-tablet.png');
  }

  @media (min-width: bootstrap.$desktop-width) {
    background-image: url('../../img/map/map-desktop.png');
  }
}

.map iframe {
  display: block;
  width: 100%;
  height: 350px;
  border: none;
}
