@use "../global/bootstrap.scss";

.search {
  text-align: center;
}

.search__text-block {
  padding-top: 38px;
  padding-bottom: 32px;

  @media (min-width: bootstrap.$tablet-width) {
    padding-top: 61px;
    padding-bottom: 40px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding-bottom: 45px;
  }
}

.search__button {
  padding: 0 18px;
  margin-bottom: 49px;

  @media (min-width: bootstrap.$tablet-width) {
      padding: 0 33px;
  }

  @media (min-width: bootstrap.$desktop-width) {
      padding: 0 55px;
  }
}
