@use "../global/bootstrap.scss";

.site-list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: bootstrap.$bg-color;

  @media (min-width: bootstrap.$tablet-width) {
    grid-template-columns: repeat(5,  1fr);
  }
}

.site-list__item {
  width: 100%;
  text-align: center;

  &:not(.site-list__item--logo) {
    display: none;
    padding-top: 18px;
    padding-bottom: 17px;
    background-color: bootstrap.$primary-color;
    color: bootstrap.$primary-text;

    @media (min-width: bootstrap.$tablet-width) {
      display: block;
      background-color: bootstrap.$bg-color;
      color: bootstrap.$accent-text;
    }
  }

  &--logo {
    position: relative;
    order: -1;

    @media (min-width: bootstrap.$tablet-width) {
      order: 0;
    }
  }  
}

.site-list__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 185px;
  height: 96px;
}

.site-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: bootstrap.$primary-text;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 14px;
    line-height: 21px;
    color: bootstrap.$accent-text;
  }
}