@use "../global/bootstrap.scss";

.text-block {
  text-align: center;
  text-transform: uppercase;
}

.text-block__title {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: bootstrap.$accent-text;

  @media (min-width: bootstrap.$tablet-width) {
    font-size: 30px;
  }

  &--index {
    @media (min-width: bootstrap.$tablet-width) {
      font-size: 21px;
    }
  }
}

