@use "../global/bootstrap.scss";

.video-gallery {
  padding: 0 20px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding: 0 200px;
  }
}

.video-gallery__text-block {
  max-width: 445px;
  margin: 0 auto;
  padding: 17px 5px 37px;

  @media (min-width: bootstrap.$tablet-width) {
    padding: 58px 0 85px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    padding: 62px 0 85px;
  }
}

.video-gallery__video {
  @media (min-width: bootstrap.$tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: bootstrap.$desktop-width) {
    margin-bottom: 84px;
  }
}
